.container-main {
    display: flex;
    width: 80%;
}

.profile-container {
    width: 30%;
}

.content {
    max-width: 1000px;
    margin-top: 2rem;
}

.btn-tweet {
    border-radius: 6px;
    padding: 10px 15px;
}

ul {
    list-style: none;
}

.tweet-element {
    border-radius: 5px;
    font-size: 1.3rem;
    margin: 1.5rem 0;
    box-shadow: rgba(0, 0, 0, .05) 0px 0px 0px 1px;
}

.card-actions {
    margin-top: 1rem;
    border-top: 1px solid #333;
    padding: 2rem 0;
}

.fas, .fa-regular {
    cursor: pointer;
}

.fas:hover, .fa-regular:hover {
    color: rgb(22, 93, 169)(0, 123, 255) !important;
}

.fa-pen {
    font-size: 1rem;
}

.avatar-md {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(22, 93, 169);
}

.avatar-lg {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid rgb(22, 93, 169);
}

.profile img:hover {
    opacity: .6;
}

.profile .profile-username {
    font-weight: 500;
    margin: 1rem 1.5rem;
    font-size: 1.1rem;
}

.profile .profile-fullname {
    font-weight: 600;
    margin: 0 1,5rem;
    font-size: 1.2rem;
}

.profile .follow-data {
    display: flex;
    align-items: center;
}

.profile .follow-data .data p:first-child {
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-dark);
}

.profile .follow-data .data p:last-child {
    font-weight: bold;
    color: var(--primary);
    font-size: 1rem;
}

.follow-data .data {
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}