extends ../layout.pug

block content 
    script(src="/js/deleteTweet.js" defer)
    script(src="/js/likeTweet.js")
    .d-flex.flex-row.mx-auto.content
        .profile-container.container-fluid 
            include includes/profile.pug
        #tweets-container.tweets-container.flex-fill.container-fluid.tweets-list 
            if tweets 
                each tweet in tweets 
                    .card.tweet-element
                        include includes/tweet-card.pug
            