extends ../layout.pug
include mixins/form.pug

block content 
    .d-flex.flex-row.mx-auto.content
        .profile-container.container-fluid 
            include includes/profile.pug
        .tweets-container.flex-fill.container-fluid 
            +tweetForm("Mettre a jour", "Update", tweet)