extends ../layout.pug

block content 
    .d-flex.flex-row.mx-auto.content
        .profile-container.container-fluid 
            include includes/profile.pug
        .tweets-container.flex-fill.container-fluid 
            form(action="/tweet/new" method="post" class="card")
                .card-header Ecrire un tweet 
                .card-body 
                    .form-group 
                        textarea(name="content" class="form-control" placeholder="Quoi de neuf aujourd'hui ?")
                    if errors 
                        ul.my-2 
                            each error in errors 
                                li.text-danger=error
                    .w-100.d-flex.justify-content-md-end.mt-3
                        input.btn.btn-primary(type="submit" value="Tweeter")
